body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace; }

@media screen and (min-width: 870px) {
  .section-title {
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    position: absolute;
    left: -16px;
    margin-top: 6px; } }

.section-title {
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: 10px;
  color: #666; }

a {
  color: #666; }
